* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cart {
    position: relative;

    font-size: 100px;
    width: 120px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.badge {
    position: absolute;
    top: 0;
    right: 0;

    width: 35px;
    height: 35px;

    background-color: red;
    color: white;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    font-weight: bold;
}