* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;

  gap: 10px;

}


.box1 {
  order: 1;
  flex-grow: 1;
   width: 150px;
  height: 100px;
  display: inline-block;

  background-color: lightblue;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
}

.box2 {
  order: 2;
  flex-grow: 1;
   width: 150px;
  height: 100px;
  display: inline-block;

  background-color: lightblue;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
}

.box3 {
  order: 3;
  flex-grow: 1;
   width: 150px;
  height: 100px;
  display: inline-block;

  background-color: lightblue;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
}